form{
    margin:50px;
}

.select{
    display: block;
    width: 300px;
    font-size: 15px;
    height: 35px;
    border: none;
    margin:10px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
}